<!--<div class="row">
  {{#each notes}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          {{ title }} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
        </h4>
        <p>{{ description }} </p>

        <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-block btn-sm">Delete</button>
        </form>

      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Hello {{user.name}}</h1>
      <p clsss="lead">There are not Notes yet.</p>
      <a href="/notes/add" class="btn btn-success btn-block">Create One!</a>
    </div>
  </div>
  {{/each}}
</div>
-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="top: 58px;">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">Estás en->
                <li class="breadcrumb-item"><a href="/investments">Inversiones</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Recomendaciones</a></li>
            </ol>
        </nav>
    </div>
</nav>
<div style="min-height: 30px;"></div>

<section class=" onboarding" data-mdb-start-trigger="#global-backdrop-trigger" data-mdb-start-event="click"
  data-mdb-backdrop="true" data-mdb-backdrop-opacity="0.5">

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-mdb-backdrop="static" data-mdb-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Bienvenido</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¡Muchas felicidades! Ya estás más cerca de aprovechar tu dinero al máximo, déjanos presentarte la sección de inversiones. 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-mdb-dismiss="modal" id="global-backdrop-trigger">
            Comenzar tutorial
          </button>
          <!--<button type="button" class="btn btn-primary">Understood</button>-->
        </div>
      </div>
    </div>
  </div>
  <!-- Button trigger script -->
  <script>
    function LoadInLineScripts() {
      const myModalEl = document.getElementById('staticBackdrop')
      const modal = new mdb.Modal(myModalEl)
      //modal.show()
    }
  </script>
  <!-- END Modal -->

  <div class="container" id="init_banner">
    <!-- Section: Banner Image -->
    <section class="mb-4" style="margin-bottom: 2.0rem!important;">
      <div class="bg-image rounded-bottom shadow-1-strong" style="
              background-image: url('https://mdbootstrap.com/img/new/slides/297.jpg');
              height: 60px;
            "></div>

      <div class="d-flex justify-content-center">
        <img src="https://mdbootstrap.com/img/new/avatars/18.jpg"
          class="rounded-circle shadow-3-strong position-absolute" alt="" style="width: 70px; margin-top: -42px" />
      </div>
    </section>
    <!-- Section: End Banner Image-->

    <!-- Section: User data -->
    <section class="text-center">
      <div class="row d-flex justify-content-center">
        <h2 style="margin-bottom: 0rem;"><strong>Recomendaciones</strong></h2>
        <p style="margin-bottom: 0.5rem;">Gerardo</p>
        <div class="col-lg-6">
        </div>
      </div>
    </section>
    <!-- Section: User data -->

    <!-- Section: Buttons -->
    <section class="d-flex text-center justify-content-between align-items-center py-1 border-bottom border-top" data-mdb-step data-mdb-index="1"
          data-mdb-onboarding-content="Estas son las secciones de tu plataforma de Inversiones">
      <!-- Left -->
      <div>
        <a href="/investments" class="text-white">
        <button type="button" class="btn btn-link text-reset px-2" data-mdb-ripple-color="dark">
          Inversiones
        </button>
        </a>
        <a href="/investments/notifications" class="text-white">
        <button type="button" class="btn btn-link text-reset px-2" data-mdb-ripple-color="dark" data-mdb-step
          data-mdb-index="2" data-mdb-onboarding-content="Aquí podrás ver los mensajes sobre el desempeño de tus fondos, ejecución de órdenes, etc.">
          Notificaciones<span class="badge bg-danger ms-1">0</span>
        </button>
        </a>
        <a href="/investments/goals" class="text-white">
        <button type="button" class="btn btn-link text-reset px-2" data-mdb-ripple-color="dark" data-mdb-step
          data-mdb-index="3" data-mdb-onboarding-content="Aquí podrás ver como vas hacia el cumplimiento de tus metas y también puedes editar tus objetivos. ">
          Metas
        </button>
        </a>
        <a href="/investments/recommendations" class="text-white">
        <button type="button" class="btn btn-outline-light text-reset px-2" data-mdb-ripple-color="dark">
          Recomendaciones
        </button>
        </a>
        <div class="dropdown d-inline-block">
          <button class="btn btn-link text-reset dropdown-toggle px-2" data-mdb-ripple-color="dark" type="button"
            id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">
            Más
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Crear nueva inversión</a></li>
            <li><a class="dropdown-item" href="#">Recomendaciones</a></li>
            <li><a class="dropdown-item" href="#">Metas</a></li>
            <li><a class="dropdown-item" href="#">Balanca general</a></li>
            <li><a class="dropdown-item" href="#">Contacto</a></li>
          </ul>
        </div>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div class="d-none d-lg-block">
        <button type="button" class="btn btn-light bg-light px-3 me-2" data-mdb-ripple-color="dark">
          <i class="fas fa-edit me-2"></i>Crear nueva inversión
        </button>
        <button type="button" class="btn btn-light bg-light px-3 me-2" data-mdb-ripple-color="dark">
          <i class="fas fa-phone me-2"></i>Contacto
        </button>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Buttons -->

    <!-- Section: User data -->
    <section class="text-center ">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
          <p class="text-muted" style="margin-bottom: 0.5rem;">
            Este mes has generado: <strong class="text-success"><i class="fas fa-arrow-up"></i>
              100.00 MXN</strong>
          </p>
          <!--<p class="text-muted" style="margin-bottom: 0.5rem;">
            Ganancias mes pasado: <strong class="text-info">100.00 MXN</strong>
          </p>-->
          <div class="">
            <button type="button" class="btn btn-light bg-light px-3 mb-2 border-bottom" data-mdb-ripple-color="dark">
              <i class="fas fa-chart-line me-2"></i>Ver más detalles
            </button>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: User data -->

  </div>

  <hr style="margin: 0.5rem 0 !important;">

  <!-- Section: Grey background -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-5 mb-2 mb-md-0">
          <!-- Section: Intro -->
          <section class="mb-1">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title mt-1"><strong>Instrucciones de prueba</strong></h5>

                <ul class="list-unstyled text-muted" style="margin-bottom: 0.5rem;">
                  <li><i class="fas fa-globe fa-fw me-3 mb-1"></i>Da click en una inversión para editar o eliminar</li>
                </ul>

                <button type="button" class="btn btn-light bg-light btn-block mb-1" data-mdb-ripple-color="dark">
                  Crear nueva inversión
                </button>
              </div>
            </div>
          </section>
          <!-- Section: Intro -->
        </div>

        <div class="col-md-7 mb-2 mb-md-0">
          <!-- Section: Inversiones -->
          <section class="mb-1">
            <div class="card">
              <div class="card-body">
                  <a href="" class="text-reset d-inline-block">
                                <h5 class="card-title mt-1 mb-1">
                                    <strong>Entusiasta</strong>
                                </h5>
                            </a>
                            <div class="accordion mb-4" id="accordionOne">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button collapsed" type="button"
                                            data-mdb-toggle="collapse" data-mdb-target="#accordionOneCollapseOne"
                                            aria-expanded="true" aria-controls="accordionOneCollapseOne">
                                            No lo dejes para después
                                        </button>
                                    </h2>
                                    <div id="accordionOneCollapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="headingOne" data-mdb-parent="#accordionOne">
                                        <div class="accordion-body">
                                          Así como en el ahorro el tema no es cuánto sino hacerlo, en la inversión 
                                          estamos en las mismas: no hay que esperar a ganar el premio gordo de la lotería para abrir un fondo de inversión. 
                                            <!--<div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    Default checkbox
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="flexCheckChecked" checked>
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    Checked checkbox
                                                </label>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                            data-mdb-toggle="collapse" data-mdb-target="#accordionOneCollapseTwo"
                                            aria-expanded="false" aria-controls="accordionOneCollapseTwo">
                                            Lleva un presupuesto
                                        </button>
                                    </h2>
                                    <div id="accordionOneCollapseTwo" class="accordion-collapse collapse"
                                        aria-labelledby="headingTwo" data-mdb-parent="#accordionTwo">
                                        <div class="accordion-body">
                                           Usando un presupuesto puedes identificar gastos innecesarios e incrementar tu dinero disponible para invertir.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button"
                                            data-mdb-toggle="collapse" data-mdb-target="#accordionOneCollapseThree"
                                            aria-expanded="false" aria-controls="accordionOneCollapseThree">
                                            Reduce los gastos hormiga
                                        </button>
                                    </h2>
                                    <div id="accordionOneCollapseThree" class="accordion-collapse collapse"
                                        aria-labelledby="headingThree" data-mdb-parent="#accordionThree">
                                        <div class="accordion-body">
                                            Un consejo para ahorrar más dinero es estar atento a estos gastos menores (gastos hormiga) que, 
                                            si se reducen, podrán generar una buena economía y permitir que hagas una inversión mayor.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button collapsed" type="button"
                                            data-mdb-toggle="collapse" data-mdb-target="#accordionOneCollapseFour"
                                            aria-expanded="false" aria-controls="accordionOneCollapseFour">
                                            Prevee de manera inteligente
                                        </button>
                                    </h2>
                                    <div id="accordionOneCollapseFour" class="accordion-collapse collapse"
                                        aria-labelledby="headingFour" data-mdb-parent="#accordionFour">
                                        <div class="accordion-body">
                                            Cuando tengas acceso a cualquier dinero que no estaba previsto en tus ganancias fijas,
                                            intenta no entusiasmarte y gastarlo todo, piensa a largo plazo y coloca ese valor en tu inversión para aumentar aún más tus ingresos.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFive">
                                        <button class="accordion-button collapsed" type="button"
                                            data-mdb-toggle="collapse" data-mdb-target="#accordionOneCollapseFive"
                                            aria-expanded="false" aria-controls="accordionOneCollapseFive">
                                            Contempla invertir
                                        </button>
                                    </h2>
                                    <div id="accordionOneCollapseFive" class="accordion-collapse collapse"
                                        aria-labelledby="headingFive" data-mdb-parent="#accordionFive">
                                        <div class="accordion-body">
                                           Recuerda siempre contemplar primero para tu ahorro e inversión, y ya después puedes gastar el resto de tu ingreso si así lo deseas.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingSix">
                                        <button class="accordion-button collapsed" type="button"
                                            data-mdb-toggle="collapse" data-mdb-target="#accordionOneCollapseSix"
                                            aria-expanded="false" aria-controls="accordionOneCollapseSix">
                                            Lento pero seguro
                                        </button>
                                    </h2>
                                    <div id="accordionOneCollapseSix" class="accordion-collapse collapse"
                                        aria-labelledby="headingSix" data-mdb-parent="#accordionSix">
                                        <div class="accordion-body">
                                          Está bien comenzar con poco, recuerda que Roma no se construyo en un día. 
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingSeven">
                                        <button class="accordion-button collapsed" type="button"
                                            data-mdb-toggle="collapse" data-mdb-target="#accordionOneCollapseSeven"
                                            aria-expanded="false" aria-controls="accordionOneCollapseSeven">
                                            Compara opciones
                                        </button>
                                    </h2>
                                    <div id="accordionOneCollapseSeven" class="accordion-collapse collapse"
                                        aria-labelledby="headingSeven" data-mdb-parent="#accordionSeven">
                                        <div class="accordion-body">
                                          Antes de decidirte, recuerda hacer una búsqueda extensa de las opciones y
                                           evaluarlas cuidadosamente para elegir las que más se adapten a tu perfil de riesgo y metas. 
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingEight">
                                        <button class="accordion-button collapsed" type="button"
                                            data-mdb-toggle="collapse" data-mdb-target="#accordionOneCollapseEight"
                                            aria-expanded="false" aria-controls="accordionOneCollapseEight">
                                            Crea metas financieras
                                        </button>
                                    </h2>
                                    <div id="accordionOneCollapseEight" class="accordion-collapse collapse"
                                        aria-labelledby="headingSeven" data-mdb-parent="#accordionEight">
                                        <div class="accordion-body">
                                          Llegó el momento de establecer tus metas financieras. Esto también te ayudará a plantear un plazo aproximado para que los puedas alcanzar.

                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingNine">
                                        <button class="accordion-button collapsed" type="button"
                                            data-mdb-toggle="collapse" data-mdb-target="#accordionOneCollapseNine"
                                            aria-expanded="false" aria-controls="accordionOneCollapseNine">
                                            Invierte a tu manera
                                        </button>
                                    </h2>
                                    <div id="accordionOneCollapseNine" class="accordion-collapse collapse"
                                        aria-labelledby="headingSeven" data-mdb-parent="#accordionNine">
                                        <div class="accordion-body">
                                          Conócete a ti mismo. No a todos nos gustan las mismas cosas y no todos tenemos los mismos objetivos, también asegúrate de conocer tu nivel de tolerancia frente al riesgo.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a href="" class="text-reset d-inline-block">
                                <h5 class="card-title mt-1 mb-1">
                                    <strong>Profesional</strong>
                                </h5>
                            </a>
                            <div class="accordion mb-4" id="accordionTwo">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-mdb-toggle="collapse"
                                            data-mdb-target="#accordionTwoCollapseOne" aria-expanded="true"
                                            aria-controls="accordionTwoCollapseOne">
                                            La mejor inversión
                                        </button>
                                    </h2>
                                    <div id="accordionTwoCollapseOne" class="accordion-collapse collapse show"
                                        aria-labelledby="headingOne" data-mdb-parent="#accordionTwo">
                                        <div class="accordion-body">
                                            <strong>Invierte con rendimientos mayores al índice de inflación,</strong> asegurando así ganancias a ese dinero invertido. 
                                            Por ejemplo: <strong>Si la inflación de tu país es de 4.5% invierte en alternativas que te den rendimientos mayores a 4.5%</strong>
                                            Asegurando así que tu dinero no pierda valor y obteniendo ganancias a través del tiempo.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                            data-mdb-toggle="collapse" data-mdb-target="#accordionTwoCollapseTwo"
                                            aria-expanded="false" aria-controls="accordionTwoCollapseTwo">
                                            Monitorea el mercado
                                        </button>
                                    </h2>
                                    <div id="accordionTwoCollapseTwo" class="accordion-collapse collapse"
                                        aria-labelledby="headingTwo" data-mdb-parent="#accordionTwo">
                                        <div class="accordion-body">
                                            Estar atento al comportamiento de la economía, así como las tendencias del mercado, te puede ayudar a evitar pasar malos ratos. 
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button"
                                            data-mdb-toggle="collapse" data-mdb-target="#accordionTwoCollapseThree"
                                            aria-expanded="false" aria-controls="accordionTwoCollapseThree">
                                            Inversor precavido vale por 2
                                        </button>
                                    </h2>
                                    <div id="accordionTwoCollapseThree" class="accordion-collapse collapse"
                                        aria-labelledby="headingThree" data-mdb-parent="#accordionThree">
                                        <div class="accordion-body">
                                            En BBVA puedes contratar fondos de cobertura para reducir el impacto de las fluctuaciones en tu portafolio de inversión. 
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button collapsed" type="button"
                                            data-mdb-toggle="collapse" data-mdb-target="#accordionTwoCollapseFour"
                                            aria-expanded="false" aria-controls="accordionTwoCollapseFour">
                                            Diversificate
                                        </button>
                                    </h2>
                                    <div id="accordionTwoCollapseFour" class="accordion-collapse collapse"
                                        aria-labelledby="headingFour" data-mdb-parent="#accordionFour">
                                        <div class="accordion-body">
                                            Tu portafolio debe estar bien diversificado para reducir tu exposición a los riesgos del mercado. 
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFive">
                                        <button class="accordion-button collapsed" type="button"
                                            data-mdb-toggle="collapse" data-mdb-target="#accordionTwoCollapseFive"
                                            aria-expanded="false" aria-controls="accordionTwoCollapseFive">
                                            Organizate y Perservera
                                        </button>
                                    </h2>
                                    <div id="accordionTwoCollapseFive" class="accordion-collapse collapse"
                                        aria-labelledby="headingFive" data-mdb-parent="#accordionFive">
                                        <div class="accordion-body">
                                            Aunque alguna de tus elecciones tenga liquidez diaria y, por lo tanto, te permita hacer un retiro en cualquier momento, organízate para que eso no sea necesario. 
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFive">
                                        <button class="accordion-button collapsed" type="button"
                                            data-mdb-toggle="collapse" data-mdb-target="#accordionTwoCollapseFive"
                                            aria-expanded="false" aria-controls="accordionTwoCollapseFive">
                                            Explora alternativas
                                        </button>
                                    </h2>
                                    <div id="accordionTwoCollapseFive" class="accordion-collapse collapse"
                                        aria-labelledby="headingFive" data-mdb-parent="#accordionFive">
                                        <div class="accordion-body">
                                            Un portafolio de inversión bien diversificado puede incluir elementos de renta fija, renta variable, 
                                            deuda nacional y/o internacional, además de certificados de gobierno, entre otros. 
                                        </div>
                                    </div>
                                </div>
                            </div>

              </div>
          </section>
          <!-- Section: Inversiones -->


        </div>
      </div>
    </div>
  </section>
  <section class="text-center border-bottom">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6">
        <a href="#init_banner" data-mdb-smooth-scroll="smooth-scroll">
          <i class="fas fa-chevron-up me-2"></i>
          <h3><strong>Subir</strong></h3>
        </a>
        <div>
        </div>
        <br>
      </div>
    </div>
  </section>
  <div class="container" style="min-height: 250px;"></div>
  <br>
  <br>
</section>




