<!--<div class="row">
  {{#each notes}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          {{ title }} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
        </h4>
        <p>{{ description }} </p>

        <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-block btn-sm">Delete</button>
        </form>

      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Hello {{user.name}}</h1>
      <p clsss="lead">There are not Notes yet.</p>
      <a href="/notes/add" class="btn btn-success btn-block">Create One!</a>
    </div>
  </div>
  {{/each}}
</div>
-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="top: 58px;">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">Estás en->
                <li class="breadcrumb-item"><a href="/investments">Inversiones</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Contratar</a></li>
            </ol>
        </nav>
    </div>
</nav>
<div style="min-height: 30px;"></div>

<section class=" onboarding" data-mdb-start-trigger="#global-backdrop-trigger" data-mdb-start-event="click"
    data-mdb-backdrop="true" data-mdb-backdrop-opacity="0.5">

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-mdb-backdrop="static" data-mdb-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Página inversiones</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Aquí va un texto de bienvenida a la página de inversiones. recuerda poner texto con base en
                    Behaviour
                    economics.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-mdb-dismiss="modal" id="global-backdrop-trigger">
                        Comenzar tutorial
                    </button>
                    <!--<button type="button" class="btn btn-primary">Understood</button>-->
                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger script -->
    <script>
        function LoadInLineScripts() {
            const myModalEl = document.getElementById('staticBackdrop')
            const modal = new mdb.Modal(myModalEl)
            //modal.show()
        }
    </script>
    <!-- END Modal -->

    <div class="container" id="init_banner">
        <!-- Section: Banner Image -->
        <section class="mb-4" style="margin-bottom: 2.0rem!important;">
            <div class="bg-image rounded-bottom shadow-1-strong" style="
              background-image: url('https://mdbootstrap.com/img/new/slides/297.jpg');
              height: 60px;
            "></div>

            <div class="d-flex justify-content-center">
                <img src="https://mdbootstrap.com/img/new/avatars/18.jpg"
                    class="rounded-circle shadow-3-strong position-absolute" alt=""
                    style="width: 70px; margin-top: -42px" />
            </div>
        </section>
        <!-- Section: End Banner Image-->

        <!-- Section: User data -->
        <section class="text-center">
            <div class="row d-flex justify-content-center">
                <h2 style="margin-bottom: 0rem;"><strong>Inversiones</strong></h2>
                <p style="margin-bottom: 0.5rem;">user</p>
                <div class="col-lg-6">
                </div>
            </div>
        </section>
        <!-- Section: User data -->

        <!-- Section: Buttons -->
        <section class="d-flex text-center justify-content-between align-items-center py-1 border-bottom border-top"
            data-mdb-step data-mdb-index="1" data-mdb-onboarding-content="Este es el primer paso">
            <!-- Left -->
            <div>
                <a href="/investments" class="text-white">
                    <button type="button" class="btn btn-outline-light text-reset px-2" data-mdb-ripple-color="dark">
                        Mis Inversiones
                    </button>
                </a>
                <a href="/investments/notifications" class="text-white">
                    <button type="button" class="btn btn-link text-reset px-2" data-mdb-ripple-color="dark"
                        data-mdb-step data-mdb-index="2"
                        data-mdb-onboarding-content="Backdrop is set to false by default">
                        Notificaciones<span class="badge bg-danger ms-1">0</span>
                    </button>
                </a>
                <a href="/investments/goals" class="text-white">
                    <button type="button" class="btn btn-link text-reset px-2" data-mdb-ripple-color="dark"
                        data-mdb-step data-mdb-index="3"
                        data-mdb-onboarding-content="Backdrop is set to false by default">
                        Metas
                    </button>
                </a>
                <a href="/investments/recommendations" class="text-white">
                    <button type="button" class="btn btn-link text-reset px-2" data-mdb-ripple-color="dark">
                        Recomendaciones
                    </button>
                </a>
                <div class="dropdown d-inline-block">
                    <button class="btn btn-link text-reset dropdown-toggle px-2" data-mdb-ripple-color="dark"
                        type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">
                        Más
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Crear nueva inversión</a></li>
                        <li><a class="dropdown-item" href="#">Recomendaciones</a></li>
                        <li><a class="dropdown-item" href="/investments/goals">Metas</a></li>
                        <li><a class="dropdown-item" href="/investments/insights">Balance general</a></li>
                        <li><a class="dropdown-item" href="#">Contacto</a></li>
                    </ul>
                </div>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div class="d-none d-lg-block">
                <button type="button" class="btn btn-light bg-light px-3 me-2" data-mdb-ripple-color="dark">
                    <i class="fas fa-edit me-2"></i>Crear nueva inversión
                </button>
                <button type="button" class="btn btn-light bg-light px-3 me-2" data-mdb-ripple-color="dark">
                    <i class="fas fa-phone me-2"></i>Contacto
                </button>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Buttons -->

    </div>

    <!-- Section: Grey background -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-5 mb-2 mb-md-0">
                    <!-- Section: Intro -->
                    <section class="mb-1 d-none d-lg-block">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title mt-1"><strong>Instrucciones de página</strong></h5>

                                <ul class="list-unstyled text-muted" style="margin-bottom: 0.5rem;">
                                    <li><i class="fas fa-globe fa-fw me-3 mb-1"></i>Revisa los términos cuidadosamente y da click en contratar</li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <!-- Section: Intro -->
                </div>

                <div class="col-md-7 mb-2 mb-md-0">
                    <!-- Section: Inversiones -->
                    <section class="mb-1">
                        <div class="card">
                            <div class="card-body">
                                <a href="" class="text-reset d-inline-block" data-mdb-step data-mdb-index="4"
                                    data-mdb-onboarding-content="Backdrop is set to false by default">
                                    <h5 class="card-title mt-1 mb-1">
                                        <strong id="inv_section" data-mdb-step data-mdb-index="6"
                                            data-mdb-onboarding-content="Backdrop is set to false by default">Inversión Fondo Líquido en Pesos</strong>
                                    </h5>
                                </a>
                                <div class="card text-center" style="width: 100%">
                                    <div class="card-body" style="border-radius: 5px; border-style: dashed;">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Tipo de inversión</th>
                                                    <td>Renta variable</td>
                                                </tr>

                                                <tr>
                                                    <th scope="row">Saldo mínimo</th>
                                                    <td>10,000.00 MXN</td>
                                                </tr>

                                                <tr>
                                                    <th scope="row">Nivel de riesgo</th>
                                                    <td>Medio</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Tasa anual</th>
                                                    <td>variable</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Rendimiento</th>
                                                    <td>variable Medio</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="d-lg-flex text-center justify-content-center">
                                    <button type="button" class="btn btn-success w-md-100 my-2 mx-1" data-mdb-toggle="modal"
                                        data-mdb-target="#exampleSideModal1">
                                        Contratar
                                    </button>
                                    <a href="https://www.nafin.com/portalnf/content/herramientas-de-negocio/calculadora-de-rendimientos/calculadora-de-rendimientos.do" target="_blank">
                                        <button type="button" class="btn btn-outline-info w-md-100 my-2 mx-1">
                                            Calculadora de rendimiento
                                        </button>
                                    </a>
                                    <!-- Modal example - top right -->
                                    <div class="modal fade" id="exampleSideModal1" tabindex="-1"
                                        aria-labelledby="exampleSideModal1" aria-hidden="true"
                                        data-mdb-backdrop="static" data-mdb-keyboard="false">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form action="/investments/productinfo/product_three" method="POST">
                                                    <div class="modal-header bg-info text-white">
                                                        <h5 class="modal-title" id="exampleSideModal1">Contratar
                                                        </h5>
                                                        <button type="button" class="btn-close btn-close-white"
                                                            data-mdb-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div>
                                                                <p>
                                                                    Rellene los campos
                                                                </p>
                                                            </div>
                                                            <div class="mb-4">
                                                                <div class="form-outline">
                                                                    <input name="monto" type="number" id="typeNumber"
                                                                        class="form-control" />
                                                                    <label class="form-label" for="typeNumber">Monto a
                                                                        invertir</label>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <select name="plazo" class="select">
                                                                    <option value="30 días">30 días</option>
                                                                    <option value="90 días">90 días</option>
                                                                    <option value="180 días">180 días</option>
                                                                    <option value="365 días">365 días</option>
                                                                </select>
                                                                <label class="form-label select-label">Monto a
                                                                    plazos</label>
                                                            </div>
                                                            <br>
                                                            <hr>
                                                            <br>
                                                            <p>
                                                                Escriba su nombre completo en conformidad
                                                            </p>
                                                            <div class="form-outline">
                                                                <input type="text" id="typeText" class="form-control" />
                                                                <label class="form-label" for="typeText">Nombre completo</label>
                                                            </div>
                                                            <small>
                                                                Este instrumento de inversión lo puedes cancelar o modificar cada quieras.
                                                            </small>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-outline-success">
                                                            Contratar
                                                        </button>
                                                        <button type="button" class="btn btn-outline-danger"
                                                            data-mdb-dismiss="modal">
                                                            Cancelar
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card shadow-0 border" style="margin-bottom: 2rem;">
                                    <div class="card-body ">
                                        <section class="mb-4 w-100">
                                            <div class="border" style="height: 150px; overflow-y: auto;">
                                                <div class="scrollStatus">
                                                    <div class="scrollStatus-progress"></div>
                                                </div>
                                                <div style="height: 400px; width: 100%;">
                                                    <h5 class="mt-2" style="text-align: center;">Términos del contrato</h5>
                                                    <p class="mt-2" style="text-align: center;">Hoy, estás contratando un pagaré, este es un instrumento con riesgo extremadamente bajo con una tasa fija anual de 1.85% a un plazo de 90 días. 
Los fondos requeridos para la inversión se tomarán de su cuenta de depósito. El rendimiento de tu instrumento se te deposita a esta misma cuenta, al final del plazo del instrumento. Puedes renovar el instrumento al finalizar el plazo contratado. 
Este instrumento está definido en moneda nacional. 
                                                    </p>
                                                    <h5 class="mt-2" style="text-align: center;">Comisiones y costos de apertura</h5>
                                                    <p class="mt-2" style="text-align: center;">Este instrumento no cuenta con costo de comisión y de apertura.
                                                    </p>
                                                    <h5 class="mt-2" style="text-align: center;">Protección</h5>
                                                    <p class="mt-2" style="text-align: center;">Este instrumento no cuenta con costo de comisión y de apertura.
                                                        Este instrumento está garantizado por el IPAB hasta por el equivalente a cuatrocientas mil UDI por persona. Consulta la página del IPAB en https://www.gob.mx/ipab
                                                    </p>
                                                    <h5 class="mt-2" style="text-align: center;">Asistencia</h5>
                                                    <p class="mt-2" style="text-align: center;">Atención a clientes: Línea BBVA. Teléfonos: Ciudad de México y área metropolitana 55 5226 2664 y del interior de la República 800 226 2663.
                                                    </p>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                    </section>
                    <!-- Section: Inversiones -->


                </div>
                <!-- Section: Intro -->
                <section class="mb-4">
                    <div class="card" data-mdb-step data-mdb-index="5"
                        data-mdb-onboarding-content="Backdrop is set to false by default">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://mdbootstrap.com/img/new/slides/041.jpg" alt="..." class="img-fluid"
                                    style="object-fit: cover;" />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Lista de recomendaciones</h5>
                                    <p class="card-text">
                                        Ve la lista de recomendaciones que BBVA seleccionó para que puedas aumentar y
                                        mejorar tus
                                        inversiones
                                        de
                                        manera sencilla.
                                    </p>
                                    <a href="/investments/recommendations">
                                        <button type="button" class="btn btn-outline-info" data-mdb-ripple-color="dark">
                                            Ver lista de recomendaciones
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section: Intro -->
            </div>
        </div>
    </section>
    <section class="text-center border-bottom">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
                <a href="#init_banner" data-mdb-smooth-scroll="smooth-scroll">
                    <i class="fas fa-chevron-up me-2"></i>
                    <h3><strong>Subir</strong></h3>
                </a>
                <div>
                </div>
                <br>
            </div>
        </div>
    </section>
    <div class="container" style="min-height: 250px;"></div>
    <br>
    <br>
</section>

<style>
    .table>:not(caption)>*>* {
        padding: 0rem 0rem;
    }

    /* Styles required only for the example above */
    .scrollspy-example-collapsible {
        position: relative;
        height: 200px;
        overflow: auto;
    }
</style>